//extends layout
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css", rel="stylesheet")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")
    link(rel="stylesheet", href="/css/catalogo.css")
    title BooklyManage
  body 
    block content
      header.header 
        div.menu.container
          a(href="#" class="logo") 
            i(class="ri-book-read-line") BooklyManage
          input(type="checkbox", id="menu")
          label(for="menu")
            i.menu-icon(class="ri-menu-line")
          nav.navbar
            ul.ulnavbar 
              li 
                a(href="/")
                  // Bot贸n de home 
                  i(class="ri-home-2-line")
              li  
                a(href="/search")
                  // Bot贸n de favoritos
                  i(class="bi bi-search-heart")
              li
                a.boton-modal(href="#")
                  label(for="btn-modal")
                    i(class="ri-arrow-up-circle-line")
              li 
                a(href="/logout")
                  i(class="bi bi-box-arrow-right")
      input.modal(type="checkbox", id="btn-modal", name="")
      .container-modal 
        .content-modal 
          .btn-modal 
            label(for="btn-modal") 
              i.btn-cerrar(class="ri-close-large-fill")
          h2 Para agregar un libro por favor llena los siguientes datos 
          form#uploadForm.form(action='/agregar-libro' method='POST', enctype='multipart/form-data')
            input.input-mas(type="text", name="titulo", id='titulo', placeholder="Titulo del libro", required)
            input.input-mas(type="text", name="autor", id='autor', placeholder="Nombre de autor", required)
            input.input-mas(type="text", name="ISBN", id='ISBN', placeholder="ISBN", required)
            input.input-mas(type="text", name="genero", id='genero', placeholder="Genero", required)
            input.input-mas(type="date", name="fecha_publi", id='fecha_publi', placeholder="Fecha de publicaci贸n", required)
            input.input-mas(type="text", name="descripcion", id='descripcion', placeholder="Descripci贸n")
            input.input-mas-img(type="file", name="imagen", id='imagen',  required)
            button.btn-agregar(type="submit") Agregar
      .general-container
        if libros.length > 0
          .producto-container
            each libro in libros
              .producto
                img(src=`/uploads/${libro.imagen}`, alt=libro.titulo)
                p(class='producto-label') #{libro.titulo.toUpperCase()} 
                p(class='producto-label') #{libro.autor.toUpperCase()} 
                form(action=`/agregar-favorito/${libro.id}`, method='POST')
                  button(type='submit') Agregar a favoritos
                    i.fas.fa-search
                form(action=`/eliminar-libro/${libro.id}`, method='POST')
                  button(id='eliminar-libro' type='submit') Eliminar
        else
          p No se encontraron resultados.
