extends layout

block content
  h1 #{title}
  h2 #{Libro.name}
  img(src=`/images/${Libro.image}`, alt=Libro.name)
  p Descripción: #{Libro.description}
  form(action=`/agregar-favorite/${Libro.id}`, method='POST')
    button(type='submit') Agregar al carrito