
block content
  h1 #{title}
  h2 #{libro.titulo}
  img(src=`/images/${libro.image}`, alt=libro.titulo)
  p Descripción: #{libro.description}
  form(action=`/agregar-favorite/${libro.id}`, method='POST')
    button(type='submit') Agregar al carrito